# Virtual Environment
venv/
env/
.venv/

# Git
.git/
.gitignore

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Jupyter
.ipynb_checkpoints/
*.ipynb

# Environment files
.env
.env.*

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Model files (volumes se mount honge)
# pipeline/*.joblib

README.md