# Virtual Environment
venv/
env/
.env

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# ML Model files (large files - Drive mein hain)
pipeline/*.joblib
pipeline/*.pkl

# Jupyter
.ipynb_checkpoints/
*.ipynb

# IDE
.vscode/settings.json
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/
